<!-- Contenedor principal de Swiper -->
<div class="swiper">
    <!-- Wrapper adicional requerido -->
    <div class="swiper-wrapper">
      <!-- Los slides -->
      <div class="swiper-slide">
        <img src="/images/image1.jpeg" alt="" />
      </div>
      <div class="swiper-slide">
        <img src="/images/image2.jpeg" alt="" />
      </div>
      <div class="swiper-slide">
        <img src="/images/image3.jpeg" alt="" />
      </div>
      <div class="swiper-slide">
        <img src="/images/image4.jpeg" alt="" />
      </div>
    </div>
    <!-- Botones de navegación -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

  <script>
    // Core de Swiper y estilos
    import Swiper from 'swiper';
    import 'swiper/css';
    // Módulo Navigation de Swiper y estilos
    import { Navigation } from "swiper/modules";
    import "swiper/css/navigation";
  
    // Configurar Swiper
    const swiper = new Swiper(".swiper", {
      modules: [Navigation], // definir los módulos a usar
      loop: true,            // definir si los slides estarán en bucle
      slidesPerView: 3,      // agregar número de slides para la pantalla
      spaceBetween: 40,      // separación entre slides en px
      navigation: {          // definir botones next y prev para el módulo Navigation
        prevEl: ".swiper-button-prev",
        nextEl: ".swiper-button-next",
      }
    });
  </script>

<style>
    .swiper-slide {
      height: 200px;
      border-radius: 10px;
      overflow: hidden;
    }
    .swiper-slide img {
      width: 500px;
      height: 100%;
      object-fit: cover;
    }
  </style>