---
import Carousel from "./atom/Carousel.astro"
---

<section>
    <div class="box-general">
        <div class="box-rubros">
        <h1 class="title">Limpieza General</h1>
        <p class="text">La limpieza general comprende servicios esenciales para conservar la higiene y el orden en distintos entornos, desde oficinas hasta áreas industriales y comerciales. En LIMP-ECO ofrecemos soluciones personalizadas que se ajustan a cada cliente, priorizando siempre la salud y el bienestar…</p>
        <button class="button-lm">Leer más</button>
    </div>
        <img src="/src/img/istockphoto-1570318885-612x612.jpg" alt="">
    </div>
</section>

<style>

    .box-general {
        display: flex;
        justify-content: center;
        align-items:center;
        margin: 50px;
        padding: 30px;
    }

    .box-rubros {
       margin: 30px;
       justify-content: center;
       align-items: center;
       display: block;
    }

    .box-rubros h1 {
        justify-content: center;
        align-items: center;
        display: center;
        font-size: 30px;
    }

    .button-lm {
        justify-content: center;
        align-items: center;
        display: flex;
    }


</style>